@font-face {
    font-family: MomcakeB;
    src: url(fonts/MomcakeBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: MomcakeT;
    src: url(fonts/MomcakeThin.otf);
}
@font-face {
    font-family: Backlash;
    src: url(fonts/Backslash.otf);
}

.Main {
    padding-top: 1%;
    height: 400px;
    position: relative;
    background-color: Inherit/* rgb(248, 239, 215) */;
    /*border: 3px solid black; */
    text-align: center;
    width: 1400px;
}
.Welcome {
    font-size: 900%;
    position: relative;
    font-weight: bold;
    vertical-align: center;
    font-family: MomcakeB;
}

.Legal_subtext {
    font-size: 400%;
    position: absolute;
    top: 135px;
    left: 970px;
    font-family:Backlash;
    color: #B24C63;
}

.Subtext {
    top: 25%;
    font-size: 15px;
    position: relative;
    vertical-align: center;
    font-family: Backlash;
}

.titleCard {
    padding-top: 8%;
    position: relative;
    text-align: center;
    margin-left: 10%;
}
.container {
    padding-top: 8%;
    position: relative;
    text-align: center;
}

.IntroButtons {
    height: 75px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.Start {
    height: 70px;
    width: 200px;
    margin-right: 50%;
    text-align: center;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 46px;
    cursor: pointer;
    display: inline-block;
    font-family: Backlash;
}
.Continue {
    height: 70px;
    width: 200px;
    text-align: center;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 46px;
    cursor: pointer;
    display: inline-block;
    font-family: Backlash;
}
.Login {
    height: 70px;
    width: 200px;
    text-align: center;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 46px;
    cursor: pointer;
    display: inline-block;
    font-family: Backlash;
}