@font-face {
    font-family: MomcakeB;
    src: url(fonts/MomcakeBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: MomcakeT;
    src: url(fonts/MomcakeThin.otf);
}
@font-face {
    font-family: Backlash;
    src: url(fonts/Backslash.otf);
}

.Main {
    padding-top: 1%;
    height: 400px;
    position: relative;
    background-color: #EDF2F4/* rgb(248, 239, 215) */;
    /*border: 3px solid black; */
    text-align: center;
    width: 1400px;
}

.container {
    padding-top: 8%;
    position: relative;
    text-align: center;
}


