@font-face {
    font-family: MomcakeB;
    src: url(fonts/MomcakeBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: MomcakeT;
    src: url(fonts/MomcakeThin.otf);
}
@font-face {
    font-family: Backlash;
    src: url(fonts/Backslash.otf);
}

.Main {
    padding-top: 1%;
    height: 400px;
    position: relative;
    background-color: #EDF2F4/* rgb(248, 239, 215) */;
    /*border: 3px solid black; */
    text-align: center;
    width: 1400px;
}

.container {
    padding-top: 8%;
    position: relative;
    text-align: center;
}
.Movement {
    height: 75px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.Button1 {
    height: 70px;
    width: 120px;
    text-align: center;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 46px;
    cursor: pointer;
    color: #B24C63;
    display: inline-block;
    font-family: Backlash;
}
.Button2 {
    height: 70px;
    width: 120px;
    text-align: center;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    color: #0A8754;
    font-size: 46px;
    cursor: pointer;
    display: inline-block;
    font-family: Backlash;
}

a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
