@font-face {
    font-family: MomcakeB;
    src: url(fonts/MomcakeBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: MomcakeT;
    src: url(fonts/MomcakeThin.otf);
}
@font-face {
    font-family: Backlash;
    src: url(fonts/Backslash.otf);
}

.navbar-custom {
    background-color: #8D99AE/* rgb(66, 160, 66) */;
    color: #2B2D42;
    font-family: MomcakeB;
}
body {
    padding-top:5%;
    background-color: white/* rgb(124, 218, 124) */;
    color: #2B2D42;
}
.navbar-custom a:link{
    color: #2B2D42;
    text-decoration: none;
    font-family: MomcakeB;
}
.navbar-custom a:visited{
    color: #2B2D42;
    text-decoration: none;
    font-family: MomcakeB;
}
ul.nav li a:hover{
    background-color:transparent;
    text-decoration: none;
}
.navbar-custom a:active{
    color: #2B2D42;
    text-decoration: none;
}