<DOCTYPE html>
<html>
    <head>
        <title>
            Homepage
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                <!-- <div class="navbar-header">
                    <a class="navbar-brand" href="#home">Gareth's Homepage</a>
                </div> -->
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="/homepage">Homepage</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                </div>
            </nav>
        </div>
        <h1> How to _____ </h1>
        <p>
            Testing github commits, once more
            But this time it isn't gareth.
            Jason was here
        </p>
    </body>
</html>