.navbar-custom {
    background-color: rgb(66, 160, 66);
    color: black;
}

body {
    background-color: rgb(124, 218, 124);
    color: black;
}

.navbar-custom a:link{
    color: white;
    text-decoration: none;
}
.navbar-custom a:visited{
    color: white;
    text-decoration: none;
}
ul.nav li a:hover{
    background-color:transparent;
    text-decoration: none;
}
.navbar-custom a:active{
    color: white;
    text-decoration: none;
}
.Main {
    padding-top: 1%;
    height: 200px;
    position: relative;
    background-color: rgb(248, 239, 215);
    border: 3px solid black;
    text-align: center;
}
.Welcome {
    font-size: 65px;
    position: relative;
    font-weight: bold;
    vertical-align: center;
}

.Subtext {
    top: 25%;
    font-size: 15px;
    position: relative;
    vertical-align: center;
}
.container {
    top: 25%;
    padding-bottom: 90px;
    position: relative;
    text-align: center;
}

.IntroButtons {
    height: 75px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.Start {
    height: 70px;
    width: 120px;
    font-size: 40px;
    margin-right: 50%;
    text-align: center;
}
.Login {
    height: 70px;
    width: 120px;
    font-size: 40px;
    text-align: center;
}