<DOCTYPE html>
    <html>
        <head>
            <title>Lockpick Learning</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/WebsiteDefault.css') }}">
            {% block headContent %} {% endblock %}
        </head>
        <body>
            <nav class="navbar navbar-fixed-top navbar-custom">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('homepage')}}">Homepage</a>
                </div>
                <ul class="nav navbar-right navbar-nav">
                    <li><a href="{{ url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="{{ url_for('register')}}"><span class="glyphicon glyphicon-user"></span> Register</a></a></li>
                </ul>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </body>
    </html>