<!DOCTYPE html>
    <!-- Brings in the default layout -->
    {% extends "Base.html" %}
    {% block headContent %} 
    <!-- Adds secondary style sheet needed specifically for this page -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/infopageStyleSheet.css') }}">
    <!-- Used to update user started record status -->
    <script>
        $(document).ready(function(){ // Document on load
          $(".navbar-fixed-top a").click(function(){
            $(this).tab('show');
          });
        });
    </script>
    {% endblock %}
    <!-- Adds homepage content -->
    {% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="#Intro">Intro</a></li>
            <li><a href="#Chapter1">Page 1</a></li>
          </ul>
        </div>
    </nav>
    <form action="" method="post" novalidate>
        <p>
            {{form.Question1.label}}
            {{form.Question1()}}
        </p>
        <p>
            {{form.Question2.label}}
            {{form.Question2()}}
        </p>
        <p>
            {{form.Question3.label}}
            {{form.Question3()}}
        </p>
        <p> {{ form.submit() }}</p>
    </form>
    
    {% endblock %}

<!--
Lesson One Q

what do you use to apply tension to the plug?
Choices:
Tension Wrench
Pick
A: Tension Wrench

Which pin Catches on the edge of the plug?
Choices:
Driver pin
Key pin
A: Driver Pin

What happens if you apply to much pressure with the wrench?
Choices:
the driver pinds beind beneath the shear line
The key pins fall into the plug
A: The driver pins bind beneath the shear line
-->
