<!DOCTYPE html>
    <!-- Brings in the default layout -->
    {% extends "Base.html" %}
    {% block headContent %} 
    <!-- Adds secondary style sheet needed specifically for this page -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/infopageStyleSheet.css') }}">
    <!-- Used to update user started record status -->
    <script type=text/javascript>
        $(function() {
            $('#start').on('click', function(e) {
              e.preventDefault()
              $.getJSON('/UpdateUserState',
                  function(data) {
                //Intentionally empty
              });
              return false;
            });
          });
    </script>
    {% endblock %}
    <!-- Adds homepage content -->
    {% block content %}
        <div class="sidebar"></div>
            <a href="#">Intro</a>
            <a href="#">Page 1</a>
            <a href="#">Page 2</a>
            <a href="#">Page 3</a>
            <a href="#">Page 4</a>
            <a href="#">Chapter 1</a>
            <a href="#">Page 1</a>
            <a href="#">Page 2</a>
            <a href="#">Page 3</a>
            <a href="#">Page 4</a>
            <a href="#">Chapter 2</a>
            <a href="#">Page 1</a>
            <a href="#">Page 2</a>
            <a href="#">Page 3</a>
            <a href="#">Page 4</a>
            <a href="#">Chapter 3</a>
            <a href="#">Page 1</a>
            <a href="#">Page 2</a>
            <a href="#">Page 3</a>
            <a href="#">Final Testing</a>
            <a href="#"></a>
            <a href="#">Page 2</a>
       </div>

        <div class ='main'>
            <div>
                <div>
                    <h1> An introduction to and Instruction in the Use of Lockpick Guns </h1>
                </div>
                <div>
                    <h3> What is a lockpick Gun ?</h3>
                    <img src="LockPickGun.png" alt="Example of a Snap Gun" width="400" height="300" title="A Snap or Lockpick Gun">
                    <p>
                        A lockpick gun, also known as a "snap gun" is a tool that is often used in order to rapidly force open a
                        pin tumbler design lock without the use of the key. A slim steel rod is place into the lock and the the
                        lockpick gun "fires" the rod against all of the pins in the lock at the same time. Therefore the cylinder
                        is freed for a brief moment, allowing it to be turned using a tension wrench. The lockpicking gun is an 
                        alternitive to regular lockpicking techniques, such as raking.
                    </p>
                    <p>
                        The lockpick gun was originally developed in order to aid police forces. it allows officers to open locks
                        without needing to spend time training additional lockpicking techniques. Even though lockpicking is 
                        often associated with crime, snap guns are seldom used by criminals as concealing the device is quite 
                        difficult.
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <h3> How to Use a Lockpick Gun</h3>
                </div>
                <div>
                   <p> The first step naturally is to insert the gun needle into the lock.
                    </p>
                    <img src="Step1.png" alt="Inserting the Gun" width="400" height="300" title="Inserting the Gun">
                    <p>
                        Next you should squeeze the trigger, but not all the way. First just squeeze it until the mechanism until
                        the needle drops.
                    </p>
                    <img src="Step2.png" alt="Slightly Pulling the Trigger" width="400" height="300" title="The Mechanism is Cocked">
                    <p>
                        The third step is is to fully pull the trigger, the causes an internal hammer to be released which causes the
                        needle to snap upward.
                    </p>
                    <img src="Step3.png" alt="Pulling the Trigger" width="400" height="300" title="The Hammer is Released">
                </div>
            </div>
            <div>
                <div>
                    <h2> How to Use a Lockpick Gun </h2>
                </div>
                <div>
                    <h4> The Finer Points</h4>
                    <p>
                        There is a thumb wheel that determines how hard the gun snaps. Getting the adjustment on the wheel just right
                        can take a little getting used to. It is advisable to start it on one of the lower settings.
                    </p>
                    
                    <p>
                        Before the hammer falls, the needle of the gun should be at rest all along the bottom pins. You should have 
                        your wrench in place in similair manner to standard lockpicking. The tension, much like standard lockping
                        should be very light. When the needle the snapped upward by the gun firing the top pins will be thrown 
                        upward at the same time, away from the pins on the bottom. For just a moment, when the pins are still 
                        in the air from being launched by the gun, the shear line between the shell and the plug is left wide
                        open, and if the proper amount or torque is present on the wrench, the lock will open
                    </p>
                </div>
            </div> 
        </div>
    {% endblock %}
<title> Lesson 3</title>
</head>

<div class ="Introductory Segment">

<h1> An introduction to and Instruction in the Use of Lockpick Guns </h1>
<br>

<h3> What is a lockpick Gun ?</h3>
<br>

<img src="LockPickGun.png" alt="Example of a Snap Gun" width="400" height="300" title="A Snap or Lockpick Gun">

<p>
A lockpick gun, also known as a "snap gun" is a tool that is often used in order to rapidly force open a
pin tumbler design lock without the use of the key. A slim steel rod is place into the lock and the the
lockpick gun "fires" the rod against all of the pins in the lock at the same time. Therefore the cylinder
is freed for a brief moment, allowing it to be turned using a tension wrench. The lockpicking gun is an 
alternitive to regular lockpicking techniques, such as raking.
</p>

<p>
The lockpick gun was originally developed in order to aid police forces. it allows officers to open locks
without needing to spend time training additional lockpicking techniques. Even though lockpicking is 
often associated with crime, snap guns are seldom used by criminals as concealing the device is quite 
difficult.
</p>
<br>

</div>


<div class ="Instructional Segment">


<h3> How to Use a Lockpick Gun</h3>
<br>

<h4> Basic Operation</h4>
<p>
The first step naturally is to insert the gun needle into the lock.
</p>

<img src="Step1.png" alt="Inserting the Gun" width="400" height="300" title="Inserting the Gun">
<br>

<p>
Next you should squeeze the trigger, but not all the way. First just squeeze it until the mechanism until
the needle drops.
</p>

<img src="Step2.png" alt="Slightly Pulling the Trigger" width="400" height="300" title="The Mechanism is Cocked">
<br>

<p>
The third step is is to fully pull the trigger, the causes an internal hammer to be released which causes the
needle to snap upward.
</p>

<img src="Step3.png" alt="Pulling the Trigger" width="400" height="300" title="The Hammer is Released">
<br>

<h4> The Finer Points</h4>
<p>
There is a thumb wheel that determines how hard the gun snaps. Getting the adjustment on the wheel just right
can take a little getting used to. It is advisable to start it on one of the lower settings.
</p>

<p>
Before the hammer falls, the needle of the gun should be at rest all along the bottom pins. You should have 
your wrench in place in similair manner to standard lockpicking. The tension, much like standard lockping
should be very light. When the needle the snapped upward by the gun firing the top pins will be thrown 
upward at the same time, away from the pins on the bottom. For just a moment, when the pins are still 
in the air from being launched by the gun, the shear line between the shell and the plug is left wide
open, and if the proper amount or torque is present on the wrench, the lock will open
</p>

</div>

<!--
Lesson three Q
Who was the Snap Gun originally developed by?
Choices:
The polive force
theives
A:The police force

How much force should you set the thumb wheel to?
Choices:
The highest setting
a low setting, slowly increasing
A: a low setting, slowly increasing

After you fully pully the trigger, when should you try and twist the wrench?
Choices:
Just a moment later
after you wait for the pins to settle
A: after you wait for the pins to settle
-->




</body>
</html>
