<!DOCTYPE html>
    <!-- Brings in the default layout -->
    {% extends "base.html" %}

    {% block content %}
        <h1>
            Overall Score:
        </h1>
        <p>
            {{Overall}} / 9
        </p>
        <H3>
            Lesson 1 Score: 
        </H3>
        <p>
            {{L1Score}} / 3
        </p>
        <H3>
            Lesson 2 Score:
        </H3>
        <p>
            {{L2Score}} / 3
        </p>
        <H3>
            Lesson 3 Score:
        </H3>
        <p>
            {{L3Score}} / 3
        </p>

    {% endblock %}